
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    width: 1440px;

}

:root{
    --first-title-color: #2E2F42;
    --logo-color: #404BBF;
    --page-color: #ffffff;
    --background-color: #F4F4FD;
    --btn-color:#4D5AE5;
    --text-color:#434455;

}
.container{
width: 1158px;
padding-left: 15px;
padding-right: 15px;
outline: 2px solid red;
margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}


/** ----------------------------------HEADER ---------------------------**/
.header-container{
    outline: 2px solid red;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-list{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-color);
}

.header-logo-span{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
    margin-right: 76px;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;  
}
.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}
.header-link:hover{
    color: var(--logo-color);
}
.header-link:focus{
    color:var(--logo-color); 
}

.header-contacts{
    font-style: normal;
    margin-left: 332px;
}
.header-contact-link{
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--text-color);
}
.header-contacts-list{
    display: flex;
    gap: 40px;

}
.header-contact-link:hover{
    color:var(--logo-color); 
}
.header-contact-link:focus{
    color:var(--logo-color); 
}

/* First section solution */

.solutions-section{

    background-color: var(--first-title-color);

}

.solutions-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--page-color);
    max-width: 496px;
    min-height: 120px;
margin-right: auto;
margin-left: auto;
padding-top: 188px;
margin-bottom: 48px;
}
.solutions-container{
display: flex;
flex-direction: column;
min-height: 600px;

}

.solutions-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color:#ffffff;
    background-color: var(--btn-color);
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin-right: auto;
margin-left: auto;
border-radius: 4px;
}
.solutions-btn:hover{
    background-color:var(--logo-color);
}
.solutions-btn:focus{
    background-color:var(--logo-color);
}

/* Section-Values */

.values-container{
}
.values-list{

    display: flex;
    gap: 24px;
padding-bottom: 120px;
padding-top: 120px;
}

.values-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-title-color);
}
.values-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

/* Section-ABOUT */
.about-container{
padding-top: 120px;
padding-bottom: 120px;
}

.about-title{
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 72px;
}

.about-list{
    display: flex;
    gap: 24px;
}
.about-item{
    width: calc((100% - 48px) / 3);  
}



/* Section-OUR Team */


.team-section{
    background:var(--background-color);  
}

.team-top-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--first-title-color);
margin-bottom: 72px;
}
.team-bottom-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--first-title-color);

}
.team-profession-text{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
    
}
.team-background-photo{
background:var(--page-color);
}
.team-list{
display: flex;
gap: 24px;
}
.team-background-photo{
    width: calc((100% - 72px) / 4);    
}
.team-section{
    padding-bottom: 120px;
    padding-top: 120px;
}

/* Footer */

.footer{
background-color: var(--first-title-color);
}


.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--btn-color);
}
.footer-logo-span{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--background-color);
}


/* Portfolio */

/* portfolio-btn */

.portfolio-btn{
    font-family: 'Roboto', sans-serif;
 font-weight: 500;
font-size: 16px;
line-height: 1.5 ;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--btn-color);
background:var(--background-color);
cursor: pointer;
}
.portfolio-btn:hover{
background-color: #404BBF;
color: #ffffff;

}
.portfolio-btn:focus{
background-color: #404BBF;
color: #ffffff;

}



.portfolio-bottom-title{
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: var(--first-title-color);
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
